/* inherit box sizing */

html {
    box-sizing: border-box;
    color: #005555;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}




/* Jquery UI specific classes. Unfortunately these dont show up on replit */

.ui-draggable {
    cursor: grab;
}

.ui-draggable-dragging {
    cursor: grabbing;
}




/* This is the 'frame' for our draggable area. It has a fixed width because of it has on oversized child.
This page utilizes a mobile first approach, and the width will be overwritten by a media query */

#drag-zone-frame {
    overflow: hidden;
    height: 380px;
    width: 300px;
    margin: 0 auto;
    border: #005555 solid 4px;
    border-radius: 3px;
}




/* The size of this object determines where our drag zone can be dragged */

#drag-zone-parent {
    background-color: #005555;

    /* 1500px - 900px = 600px / 2 = 300px, see offset in #drag-zone*/
    height: 400px;
    width: 1500px;

    /* this centers our oversized element */
    margin-left: 50%;
    transform: translateX(-50%);
}

#drag-zone {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f2+0,f7e4b2+64,e8d4b0+85,c9c190+96,b7ad70+100 */
    background: rgb(247, 247, 242);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(247, 247, 242, 1) 0%, rgba(247, 228, 178, 1) 64%, rgba(232, 212, 176, 1) 85%, rgba(201, 193, 144, 1) 96%, rgba(183, 173, 112, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247, 247, 242, 1) 0%, rgba(247, 228, 178, 1) 64%, rgba(232, 212, 176, 1) 85%, rgba(201, 193, 144, 1) 96%, rgba(183, 173, 112, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247, 247, 242, 1) 0%, rgba(247, 228, 178, 1) 64%, rgba(232, 212, 176, 1) 85%, rgba(201, 193, 144, 1) 96%, rgba(183, 173, 112, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f2', endColorstr='#b7ad70', GradientType=0);
    /* IE6-9 */
    height: 100%;
    /* 900px + 300px * 2 = 1500px, see #drag-zone-parent */
    width: 900px;
    left: 300px;
}



/* you cant tell here, but these items are placed in absolutely positioned divs and are moved by an inline style */

.answer {
    width: 75px;
    height: 75px;
    position: relative;
    margin: 0;
}

.answer-obstruction {
    /* fun animation to indicate the position of answers */
    animation: 8s linear 5s infinite alternate none running flash_obstruction;
}

@keyframes flash_obstruction {
    0% {
        filter: hue-rotate(0deg) saturate(100%);
    }

    100% {
        filter: hue-rotate(180deg) saturate(150%);
    }
}

.obstruction {
    margin: 0;
}

.obstruct-img {
    width: 75px;
    height: 75px;

    margin: 0;
}



/* position and style our win screen elements */

.win-condition {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.win-subgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10px;
}





/* generic styling. a more production ready approach would utilize classes */

header {
    background-color: #747C48;
    padding: 5px 20px 10px 20px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-size: 32px;
    text-shadow: 0px 0px 8px white;
}

main h1 {
    font-size: 28px;
    text-shadow: 2px 2px white;
}

h2 {
    font-size: 20px;
    color: #DFE0A8;
    text-indent: 10px;
    text-decoration: underline;
    position: relative;
    bottom: 10px;
}

p {
    text-shadow: 0px 0px 8px #CEBB52;
    font-size: 22px;
    font-family: 'Slabo 27px', serif;
}

header p {
    color: white;
}

fieldset {
    background-color: #CED3CD;
    padding: 30px 20px;
    border-radius: 3px;
    border-color: #005555;
}


/* This sets our general view width */

body {
    max-width: 90%;
    margin: 0 auto;
}


/* our nav zone utilizes flex to switch from a column to a row based on screen size */
nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.nav-element {
    display: inline-block;
    border: black solid 2px;
    border-radius: 2px;
    width: 80%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    font-size: 16px;
}

.nav-button {
    background-color: #CED3CD;

    transition: background-color .6s, color .3s;
}

.nav-button:hover {
    background-color: red;
    color: white;
}

footer {
    font-size: 10px;
    margin-top: 100px;
    text-align: center;
}


/* our responsive components. frame width must be set manually because of oversized child */
@media screen and (min-width: 600px) {
    #drag-zone-frame {
        width: 400px;
    }

    body {
        width: 70%;
    }

    nav {
        flex-direction: row;
    }

    .nav-element {
        width: 80px;
    }
}

@media screen and (min-width: 1000px) {
    #drag-zone-frame {
        width: 600px;
    }

	/* our maximum width view has a fixed size */
    body {
        width: 650px;
    }

    .nav-element {
        width: 120px;
    }
}