html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


.draggable-zone {
	background-color: green;
	height: 200px;
}


.draggable-zone-parent {
	background-color: blue;
	height: 180px;
	overflow: hidden;
}