html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Jquery UI specific classes */
.ui-draggable {
	cursor: grab;
}

.ui-draggable-dragging {
	cursor: grabbing;	
}


	/* This is the 'frame' for our draggable area */
#drag-zone-frame {
	overflow: hidden;
	height: 380px;
	width: 300px;
	margin: 0 auto;
	border: black solid 4px;
	border-radius: 3px;
}




#drag-zone-parent {
	background-color: blue;
	
	/* These are the bounds of where you can drag the background */
	height:400px;
	width: 1500px;
	
	/* this centers our oversized element */
	margin-left: 50%;
	transform: translateX(-50%);
}

#drag-zone {
	background-color: white;
	
	/* The following settings make it so you can drag left to right.
	Because it is left to right, width must be less than parent width.
	If it were vertical, it would be height.*/
	height: 100%;
	width: 900px;
	left: 300px;
	
	
	
	
}


.answer {
	width: 75px;
	height: 75px;
	position: relative;
	margin: 0;
}

.obstruction {
	margin: 0;
}

.obstruct-img {
	width: 75px;
	height: 75px;
	
	margin: 0;
}

.win-condition {
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.win-subgroup {
  	display: flex;
  	justify-content: center;
  	align-items: center;	
  	flex-direction: column;
}



/* styling */

body {
	max-width: 90%;
	margin: 0 auto;
	
}


nav {
	padding-top: 15px;
	/* text-align: center;*/
	
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.nav-element {
	display: inline-block;
	border: black solid 2px;
	border-radius: 2px;
	width: 80%;
	height: 30px;
	text-align: center;
	margin-bottom: 10px;
}




@media screen and (min-width: 600px) {
	#drag-zone-frame {
		width: 400px;
	}

	body {
		width: 70%;
	}

	nav {
		flex-direction: row;
	}

	.nav-element {
		width: 80px;
	}
}

@media screen and (min-width: 1000px) {
	#drag-zone-frame {
		width: 600px;
	}

	body {
		width: 650px;
	}

	.nav-element {
		width: 120px;
	}
}